# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
env/
env.bak/
venv.bak/

# Logs
*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/

# System files (e.g., MacOS, Windows)
.DS_Store
Thumbs.db
